* text=auto eol=lf

# Downloaded archives (Asset Store downloads and GitHub zips) ship only the
# addons folder. The readme and license travel inside the addon folders
# themselves, so nothing lands at the root of a user's project.
/** export-ignore
/addons !export-ignore
/addons/** !export-ignore
/addons/gut export-ignore
/addons/gut/** export-ignore
